.contact {
  .contact--title {
    @include rem(font-size, 40px);
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      @include rem(font-size, 30px);
    }
  }
  .contact--image {
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 11px 21px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 11px 21px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 11px 21px 0px rgba(0,0,0,0.25);
    width: 100%;
    .img-fluid {
      width: 100%;
    }
  }
  .contact--btn {
    color: $wit;
    background: $primaire-kleur-thema;
    border-bottom: solid 3px $secundaire-kleur-thema;
    border-top: solid 0;
    border-radius: 5px;
    text-decoration: none;
    @include rem(padding, 10px 40px);
    @include rem(margin-top, 15px);
    transition: 0.1s ease-in-out;
    display: inline-block;
    &:hover {
        -webkit-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
    }   
  }
  .contact--map-holder {
    border-radius: 5px;
    overflow: hidden;
    .contact--map-holder-iframe {
      display: block;
    }
  }  
}