.footer {
  background: $donkergrijs;
  color: $wit;
  .footer--title {
    font-size: 40px;
    font-size: 2.5rem;
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      @include rem(font-size, 30px);
    }    
  }
  .footer--copyright {
    color: $wit;
  }
  .footer--map-holder {
    border-radius: 5px;
    overflow: hidden;
    .footer--map-holder-iframe {
      display: block;
    }
  }
}