/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;  
  @include rem(padding, 15px 0 15px 0);
  background: rgba(17, 17, 17, 0.6);
}

.logo {
  float: left;
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.site-title,
.site-tagline {
  margin: 0;
}

.site-title {
  @include rem(font-size, 22px);
}

.site-tagline {
  @include rem(font-size, 16px);
}

.site-search-mobile-container {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.site-search {
  @include rem(margin-top, 6px);
  float: right;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.site-search-btn {
  @include rem(margin-left, 5px);
}

@media print {
  .logo {
    text-decoration: none !important;
  }
}
