* {
  box-sizing: border-box;
}
html {
  background-color: $wit;
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-display: fallback;
  font-weight: 300;
  height: 100%;
  width: 100%;
  @include rem(font-size, 17px);
}
img {
  max-width: 100%;
}
.collapsing {
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
.action {
  cursor: pointer;
}
.slick-slide{
  outline:0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.image-wrap{
  display: inline-block;
  position:relative;
  margin-bottom: 0;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.semibold {
  font-weight: 500;
}
.medium {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 350px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background: $puurwit;
}
.slideout-menu-left {
  left: 0;
}
.slideout-menu-right {
  right: 0;
}
.slideout-panel {
  position: relative;
  z-index: 1;
  background-color: $wit; /* A background-color is required */
  min-height: 100vh;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);  
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}