/* Variables */

// Fonts
$font-family-body: "Montserrat", Helvetica, Arial, sans-serif;
$font-family-headings: "Montserrat", Helvetica, Arial, sans-serif;

$primaire-kleur-thema: #f69300;
$secundaire-kleur-thema: #bf7200;

//Standaard kleuren
$donkergrijs: #111;
$puurwit: #fff;
$wit: #f7fffe;
$lichtgrijs: #b2b7b6;

// Colours - Text & links
$colour-text: #111;
$colour-link: #337ab7;
$colour-link-hover: #23527c;

// Colours - Breadcrumbs
$colour-breadcrumb-text: $colour-text;
$colour-breadcrumb-link: $colour-link;
$colour-breadcrumb-link-hover: $colour-link-hover;
$colour-breadcrumb-link-section: $colour-link;
$colour-breadcrumb-link-section-hover: $colour-link-hover;
$colour-breadcrumb-divider: #ddd;

// Colours - Sidebar
$colour-sidebar-link: #212529;
$colour-sidebar-link-hover: #212529;
$colour-sidebar-link-section: $colour-link;
$colour-sidebar-link-section-hover: $colour-link-hover;
$colour-sidebar-link-current: #212529;
$colour-sidebar-link-current-hover: #212529;
