.banner {
    min-height: 500px;
    height: 65vh;
    .swiper-slide {
        background-size:cover !important; 
        background-position:center !important;
        position: relative;
        .row, 
        .container {
            height: 100%;
        }
    }
    .banner--content {
        z-index: 1;
        width: 100%;
        .banner--title {
            color: $wit;
            font-weight: 500;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);            
            @include rem(font-size, 50px);
            @include media-breakpoint-down(sm) {
                @include rem(font-size, 30px);
            }
        }
        .banner--btn {
            color: $wit;
            background: $primaire-kleur-thema;
            display: inline-block;
            border-bottom: solid 3px $secundaire-kleur-thema;
            border-top: solid 0;
            border-radius: 5px;
            text-decoration: none;
            @include rem(padding, 10px 40px);
            @include rem(margin-top, 15px);
            transition: 0.1s ease-in-out;
            &:hover {
                -webkit-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
                box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
            }
        }
    }
}
.static-banner {
    height: 300px;
    background-position: center;
    background-size: cover;
    @include media-breakpoint-down(sm) {
        height: 250px;
    }
    .row, 
    .container {
        height: 100%;
    }
    .static-banner--content {
        width: 100%;
        color: $wit;
    }
    .static-banner--titel {
        @include rem(font-size, 40px);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        @include media-breakpoint-down(sm) {
            @include rem(font-size, 30px);
        }
    }
}