/* Breadcrumbs */
.breadcrumb {
  background-color: transparent;
  padding: 0;
  @include rem(margin-bottom, 20px);
}

.breadcrumb-item a,
.breadcrumb-item.active {
  color: $wit;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: $wit;
  @include rem(font-size, 30px);
  vertical-align: sub;
}
.breadcrumb-item {
  display: inline-block;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}