/* Forms */
.form-control, .middleColumn .text, .middleColumn .textarea, .middleColumn .dropdown {
  border-radius: 0px;
  border: none;
  background-color: $puurwit;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  outline: none;
  &:focus {
    background-color: $puurwit;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
}

#MemberLoginForm_LoginForm {
  @include rem(max-width, 500px);
  .left {
    font-weight: 400;
  }    
  #MemberLoginForm_LoginForm_action_doLogin {
    @include rem(margin-bottom, 20px);
    color: $wit;
    background: $primaire-kleur-thema;
    border: none;
    border-bottom: solid 3px $secundaire-kleur-thema;
    border-top: solid 0;
    border-radius: 5px;
    text-decoration: none;
    @include rem(padding, 10px 40px);
    transition: 0.1s ease-in-out;
    display: inline-block;
    &:hover {
        -webkit-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
    }     
  }
  #MemberLoginForm_LoginForm_Remember_Holder {
    .right {
      margin-left: 15px;
    }
  }
  #ForgotPassword {
    float: left;
    clear: both;
    width: 100%;
  }
}
#Form_ContactFormulier {
  .left {
    font-weight: 400;
  }  
  #Form_ContactFormulier_PrivacyCheckbox_Holder {
    #Form_ContactFormulier_PrivacyCheckbox {
      height: 30px;
    }
    .right {
      height: 30px;
      line-height: 30px;
      margin-left: 15px;
    }
  }
  #Form_ContactFormulier_action_VerstuurContactFormulier {
    color: $wit;
    background: $primaire-kleur-thema;
    border: none;
    border-bottom: solid 3px $secundaire-kleur-thema;
    border-top: solid 0;
    border-radius: 5px;
    text-decoration: none;
    @include rem(padding, 10px 40px);
    transition: 0.1s ease-in-out;
    display: inline-block;
    &:hover {
        -webkit-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
    }     
  }
  #Form_ContactFormulier_Van_Holder:before {
    content: "Van";
    position: absolute;
    background: $lichtgrijs;
    color: $wit;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    @include rem(min-width, 55px);
  }    
  #Form_ContactFormulier_Tot_Holder:before {
    content: "Tot";
    position: absolute;
    background: $lichtgrijs;
    color: $wit;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    @include rem(min-width, 55px);
  }  
  #Form_ContactFormulier_Van, #Form_ContactFormulier_Tot {
    @include rem(padding-left, 65px);
  }
  .btn-toolbar {
    justify-content: flex-end;
  }
}