.gallerij {
    min-height: 500px;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    color: $wit;
    &:after {
        content: " ";
        background: rgba(17, 17, 17, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .row, 
    .container {
        height: 100%;
    }
    .gallerij--content {
        position: relative;
        z-index: 1;
        .gallerij--titel {
            @include rem(font-size, 40px);
            margin-bottom: 0;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            @include media-breakpoint-down(sm) {
                @include rem(font-size, 30px);
            }            
        }
        .gallerij--image {
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            position: relative;
            .img-fluid {
                width: 100%;
            }
        }
    }
}