.panden {
    min-height: 500px;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    color: $wit;
    &:after {
        content: " ";
        background: rgba(17, 17, 17, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .row, 
    .container {
        height: 100%;
    }
    .panden--content {
        position: relative;
        z-index: 1;
        .panden--titel {
            @include rem(font-size, 40px);
            margin-bottom: 0;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            @include media-breakpoint-down(sm) {
                @include rem(font-size, 30px);
            }            
        }
        .panden--image {
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            position: relative;
            .img-fluid {
                width: 100%;
            }
        }
        .panden--afbeelding-titel {
            position: absolute;
            @include rem(bottom, 15px);
            text-align: center;
            width: 100%;
            color: $wit;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            font-weight: 400;
            @include rem(font-size, 22px);
        }
        .panden--btn {
            color: $wit;
            width: 100%;
            font-weight: 400;
            display: inline-block;
            border: solid 1px $wit;
            margin-bottom: 2px;
            border-radius: 5px;
            text-decoration: none;
            @include rem(font-size, 20px);
            @include rem(padding, 10px 40px);
            @include rem(margin-top, 15px);
            transition: 0.1s ease-in-out;
            &:hover {
                background: $primaire-kleur-thema;
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom: solid 3px $secundaire-kleur-thema;
                margin-bottom: 0;
                -webkit-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
                box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);                
            }
        }
    }
}