.slider {
    min-height: 500px;
    height: 60vh;
    .container, 
    .row {
        height: 100%;
    }
    .slider--navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }    
    .slider--content {
        color: $wit;
        font-weight: 500;
        @include rem(font-size, 40px);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 15px;        
        .slider--title {
            margin-bottom: 0px;
            @include media-breakpoint-down(sm) {
                @include rem(font-size, 30px);
            }
        }
    }
    .slider--button-prev, 
    .slider--button-next {
        position: absolute;
        top: 50%;
        width: 31.25px;
        height: 50px;
        margin-top: -25px;
        z-index: 10;
        cursor: pointer;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .slider--button-next, 
    .slider--container-rtl .slider--button-prev {
        right: 31.25px;
        left: auto;
        outline: none;
        &:after {
            content: "";
            font-family: 'Font Awesome 5 Free';
            color: $wit;
            @include rem(font-size, 50px);
            @include rem(line-height, 50px);
        }
    }
    .slider--button-prev, 
    .slider--container-rtl .slider--button-next {
        left: 31.25px;
        right: auto;
        outline: none;
        &:after {
            content: "";
            font-family: 'Font Awesome 5 Free';
            color: $wit;
            @include rem(font-size, 50px);
            @include rem(line-height, 50px);
        }
    }
    .slider--pagination {
        position: absolute;
        text-align: right;
        -webkit-transition: 300ms opacity;
        -o-transition: 300ms opacity;
        transition: 300ms opacity;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 10;
        padding-right: 15px;
        padding-left: 15px;
        bottom: 15px;
        right: 15px;
        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            margin: 0 7.5px;
            opacity: 1;
            background: $wit;
            outline: none;
            -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
        .swiper-pagination-bullet-active {
            background: $primaire-kleur-thema;
        }
    }    
}