.usp {
    color: $wit;
    overflow: hidden;
    position: relative;
    .usp--blurred {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(20px);
        background-position: center;
        background-size: cover;
    }    
    &:after {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        filter: blur(40px);
    }
    .usp--dark {
        background: $donkergrijs;
        &:after {
            height: 100%;
            content: " ";
            background: $donkergrijs;
            width: 400%;
            position: absolute;
            left: -400%;
            top: 0;
            z-index: 0;
        }
        @include media-breakpoint-down(lg) {
            &:before {
                height: 100%;
                content: " ";
                background: $donkergrijs;
                width: 400%;
                position: absolute;
                right: -400%;
                top: 0;
                z-index: 0;
            }        
        }
        .usp--titel {
            @include rem(font-size, 40px);
            margin-bottom: 0;
            @include media-breakpoint-down(sm) {
                @include rem(font-size, 30px);
            }
        }
        .usp--icon {
            @include rem(font-size, 24px);
            @include rem(width, 45px);
            vertical-align: middle;
            color: $primaire-kleur-thema;
        }
        .row {
            height: 100%;
        }
    }
    .usp--transparent {
        background: rgba(17, 17, 17, 0.6);
        &:after {
            height: 100%;
            content: " ";
            background: rgba(17, 17, 17, 0.6);
            width: 400%;
            position: absolute;
            right: -400%;
            top: 0;
            z-index: 0;
        }
        @include media-breakpoint-down(lg) {
            &:before {
                height: 100%;
                content: " ";
                background: rgba(17, 17, 17, 0.6);
                width: 400%;
                position: absolute;
                left: -400%;
                top: 0;
                z-index: 0;
            }        
        }        
    }
}