// fonts
@mixin font-face($fontname, $filename: $fontname, $weight: normal, $style: normal) {
 @font-face {
   font-family: $fontname;
   src:url('../fonts/#{$filename}.eot');
   src:url('../fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
     url('../fonts/#{$filename}.ttf') format('truetype');
   font-weight: $weight;
   font-style: $style;
 }
}

@include font-face('Montserrat', 'Montserrat-Light', 300, lighter); 
@include font-face('Montserrat', 'Montserrat-Regular', 400, normal);
@include font-face('Montserrat', 'Montserrat-SemiBold', 500);
@include font-face('Montserrat', 'Montserrat-Medium', 600, bold);
@include font-face('Montserrat', 'Montserrat-Bold', 700, bolder);
